

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#c4547f;
}

article {
  width:50vw;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(241, 151, 189);
  position: relative;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  text-align: center;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgb(202, 70, 70);
}


svg {
  stroke: #c44ec8;
  position: absolute;
  top:calc(1.25rem - 12px);
  left:calc(1.25rem - 12px);
  transition-delay: .25s;
}

img {
  width:10em;
  border-radius:10em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  transition:.25s .15s;
}



article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgb(255, 255, 255);
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

ul {
  list-style:none;
  margin:2em 0;
  padding: 0;
}

li span {
  opacity:0;
  transition:.25s
}
li:hover span {
  opacity:1
}